{%extends 'base.html'%}
{% block title%} Login {%endblock%}
{%block body%}
{% if validation_error!=null and not validation_error.isValid %}
{% include "components/alerts.html" %}
{% endif %}
<form method="POST" class="container-sm align-center my-5">
    <h2 align="center" class="my-3">
        Login Page
    </h2>
    <div class="form-group">
        <div class="mb-2">
            <label>UserName</label>
            <input type="text" name="username" class="form-control" placeholder="Enter your email">
        </div>
        <div class="mb-2">
            <label>Email Address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter your email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter your password">
        </div>
        <div align="center" class="my-3">
            <button class="btn btn-primary btn-large w-100" type="submit">
                Login
            </button>
        </div>
    </div>
</form>
{% endblock %}